@font-face {
  font-family: univFont;
  src: url(montserrat-v15-latin-regular.woff);
}

.App {
  text-align: center;
  
}

div {
  font-family: univFont;
}
.App-header {
  background: linear-gradient(to bottom right, #00ffff 0%,#99ff99 100%);  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Menu-button {
  background-image: linear-gradient(to bottom right, #00ffff 0%,#99ff99 100%);
  border-radius: 30px;
  border-color: transparent;
  color: white;
}

.Menu-button:hover {
  background-color: #00ffff;
}
