@import "./fonts/fonts.css";

* {
    font-family: 'Bookinsanity';
}

nav {
    overflow: hidden;
    background-color: transparent;
    transition: background-color .15s;

}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #833838;
    transition: color .15s, filter .15s;
    font-family: "Mr Eaves Small Caps";
}

nav a:hover {
    filter: brightness(75%);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    position: absolute;
    margin: 0 auto;
    background-color: #fff4b5;
}

#content {
    margin: 0 auto;
    width: 50%;
    min-width: 360px;
    padding: 1.5px;
    font-size: 1.15rem;
}

.sticky + #content {
    padding-top: 60px;
}

p {
    text-indent: 30px;
}

h1, h2, h3 {
    font-family: "Mr Eaves Small Caps";
    color: #833838;
}